<section class="songs-list">
  <div class="ui-status empty">
    No hay ninguna canción
  </div>
  <div class="ui-status error">
    Se ha producido un error
  </div>
  <div class="ui-status loading">
    Cargando...
  </div>
  <div class="ui-status ideal">
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Zebrahead</div>
      <div class="title">Two wrongs don't make a right but three rights make a left</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Chunk! No, Captain Chunk!</div>
      <div class="title">Playing Dead</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Artist name</div>
      <div class="title">Song title</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Artist name</div>
      <div class="title">Song title</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Artist name</div>
      <div class="title">Song title</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Artist name</div>
      <div class="title">Song title</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Artist name</div>
      <div class="title">Song title</div>
    </article>
    <article class="song">
      <img class="cover" src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="">
      <div class="artist">Artist name</div>
      <div class="title">Song title</div>
    </article>
  </div>
</section>