<form novalidate class="song-form">
  <div class="ui-status error">
    Se ha producido un error
  </div>
  <div class="ui-status loading">
    Guardando canción...
  </div>
  <div class="ui-status ideal">
    <div class="form-control-group"><label for="artist">Artist</label>
      <input type="text" id="artist" name="artist" placeholder="Artist" required>
    </div>

    <div class="form-control-group"><label for="title">Title</label>
      <input type="text" id="title" name="title" placeholder="Title" required>
    </div>

    <div class="form-control-group"><label for="cover">Cover URL</label>
      <input type="url" id="cover" name="cover" placeholder="http://" required>
    </div>

    <div class="form-control-group"><label for="cover">Cover URL</label>
      <button>Save song</button>
    </div>
  </div>
</form>